.create{
    font-size: 2em;
    text-decoration: underline;
}
form{
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.createform{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.form1>input{
    border-bottom: 1px solid gray;
    padding: 10px;
    outline: none;
}
.form2>img{
    border-radius: 5px;
    height: 170px;
    margin: auto;
}
.form2>input{
    margin-top: 30px;
    border-bottom: 1px solid grey;
    outline: none;
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    padding: 10px;
}
.start>input{
    border-bottom: 1px solid grey;
    outline: none;
    padding: 5px;
}

.eventoption{
    margin-top: 10px;
}
.eventoption>p{
    text-align: left;
    color:rgb(161, 152, 152);
    margin-left: 20px;
    padding-top: 10px;
}
.eventoption1{
    margin-top: 10px;
    border-radius: 5px;
}
.options1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
.options1>div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.options1 label{
    font-size: 11px;
}
.options1 select{
    outline: none;
    padding: 5px;
    font-size: 10px;
}

.btncomponent{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:1rem;
    margin-top: 20px;
}
.btncomponent>button:nth-child(1){
    padding: 8px;
    background-color: rgb(24, 228, 96);
    width: 10em;
    border-radius: 5px;
    color: white;
}
.btncomponent>button:last-child{
    padding: 8px;
    background-color: rgb(228, 31, 31);
    width: 5em;
    color: wheat;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .createform {
      display: grid;
    }
    .form2{
        margin-top: 1em;
    }
  }
  